/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #222;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 30px;
} */

body{
    height: 200vh;
}

.container{
    border: 1px solid red;
    background-color: rgb(141, 141, 255);
    width: 400px;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* position: relative; */
}

.hi{
    position: sticky;
    top: 40px;
    left: 50px;
}