* {
    color: red;
}

p {
    color: black;
}

.blue {
    color: blue;
}

.blue {
    color: purple;
}

#green {
    color: green;
}

.orange {
    color: orange !important;
}

div .test {
    color: red;
}

div.test {
    color: blue;
}

/* ---------------------------- */

.important {
    color: blue;
}

.green {
    color: green;
}
